{%extends "base.html" %}
 
{% block head %}
{{map.header.render|safe}}
{% endblock %}

{% block sidebar %}
    <h2>{{ gridnode.name }}</h2>

    <div>
        <h3>网格员：</h3>
        <ul>
           {% for member in members.all %}
           <li>{{member.name}},{{member.mobile}}</li>
           {% endfor %}
        </ul>
        <button onclick="window.location.href='/emembers/{{gridnode.id}}'">编辑</button>
    </div>
    <div>
        <h3>支撑项：</h3>
        <ul class="list-group">
            <li class="list-group-item">派出所：{{ support.police }}</li>
            <li class="list-group-item">医院：{{ support.hospital }}</li>
            <li class="list-group-item">消防队：{{ support.firestation }}</li>
            <li class="list-group-item">街道：{{ support.subdistrict }}</li>
            <li class="list-group-item">设备数：{{ support.facilitie }}</li>
        </ul>
        <button onclick="window.location.href='/esuport/{{gridnode.id}}'">编辑</button>
    </div>
{% endblock %}

{% block imagearea %}
    <div style="width:100%; height:600px">
    {{map.html.render|safe}}
    </div>
{% endblock %}


{% block addscript %}
<script>
    {{map.script.render|safe}}
  </script>
{% endblock %}